@model ProductsCategoryViewModel

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Input name of product" aria-describedby="button-search" id="input-search">
    <button class="btn btn-outline-secondary" type="button" id="button-search">Search</button>
</div>
<div class="row pb-3">
    <div class="col-3">
        <h3>@Model?.Category?.Name</h3>
        <a asp-action="Index" class="btn btn-primary mb-1">Back</a>
        <input type="hidden" value="@Model?.Category?.Id" id="categoryIdInput"/>
        <div class="filter-group">
            <p>Filter</p>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="isRecomendedFilter" @(ViewBag.IsRecomended ? "checked" : "")>
                <label class="form-check-label" for="isRecomendedFilter">Recomended</label>
            </div>
            <div>
                <div class="wrapper">
                    <fieldset class="filter-price">

                        <div class="price-field">
                            <input type="range" min="1" max="1000" value="@ViewBag.Min" id="lower">
                            <input type="range" min="1" max="1000" value="@ViewBag.Max" id="upper">
                        </div>
                        <div class="price-wrap">
                            <div class="price-container">
                                <div class="price-wrap-1">
                                    <label for="one">$</label>
                                    <input id="one">
                                </div>
                                <div class="price-wrap_line">-</div>
                                <div class="price-wrap-2">
                                    <label for="two">$</label>
                                    <input id="two">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <button class="btn btn-primary" id="filterButton">Filter</button>
        </div>
        
    </div>
    <div class="col-9">
        <div class="row pb-3">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row p-2">
                        <div class="col-12 p-1">
                            <div class="card border-0 p-3 shadow border-top border-5 rounded">
                                <img src="@product.ImageUrl" class="card-img-top rou" alt="product">
                                <div class="card-body pb-2">
                                    <div>
                                        <h5 class="card-title text-dark opacity-75 text-center">@product.Title</h5>
                                        <p class="card-title text-warning text-center">
                                            by <span class="fw-bold">
                                                @product.Author
                                            </span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-dark text-opacity-75 text-center mb-0">
                                            List Price: <span class="text-decoration-line-through text-danger">
                                                @product.ListPrice?.ToString("c")
                                            </span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-dark text-opacity-75 text-center">
                                            As low as: <span class="text-success">
                                                @product.Price100?.ToString("c")
                                            </span>
                                        </p>
                                    </div>
                                    <div>
                                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                            Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/categorySelect.js"></script>
    <script src="~/js/productSearch.js"></script>
    <script src="~/js/productFilter.js"></script>
    <script src="~/js/priceFilter.js"></script>
}