@model HomeViewModel

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Input name of product" aria-describedby="button-search" id="input-search">
    <button class="btn btn-outline-secondary" type="button" id="button-search">Search</button>
</div>
<div class="row pb-3">
    <div class="col-3">
        <div class="list-group">
            @foreach (var category in Model.Categories)
            {
                <a class="list-group-item list-group-item-action category-select" asp-action="Category" asp-route-id="@category.Id">@category.Name</a>
            }
        </div>
    </div>
    <div class="col-9">
        <div class="row pb-3">
            @foreach (var product in Model.Products)
            {
                @await Component.InvokeAsync("Product", new {product = product})
            }
        </div>
    </div>
</div>
<div class="row pb-3">
    <h1>Recomendations for you</h1>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            @for (int i = 0; i < Math.Ceiling(Model.Recomended.Count / 3.0); i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="row">
                        @for (int j = i * 3; j < Math.Min((i + 1) * 3, Model.Recomended.Count); j++)
                         {
                            <div class="col-md-4">
                                <a asp-action="Details" asp-route-productId="@Model.Recomended[j].Id">
                                    <img src="@Model.Recomended[j].ImageUrl" class="d-block w-100" alt="...">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
@if(Model.History.Count != 0)
{
    <div class="row pb-3">
        <h1>History</h1>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                @for (int i = 0; i < Math.Ceiling(Model.History.Count / 3.0); i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @for (int j = i * 3; j < Math.Min((i + 1) * 3, Model.History.Count); j++)
                            {
                                <div class="col-md-4">
                                    <a asp-action="Details" asp-route-productId="@Model.History[j].Id">
                                        <img src="@Model.History[j].ImageUrl" class="d-block w-100" alt="...">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
}


@section Scripts {
        <script src="~/js/categorySelect.js"></script>
        <script src="~/js/productSearch.js"></script>
}