@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";
    var all = "text-primary";

    switch(status)
    {
        case "pending":
            pending = "active text-white bg-primary";
            break;
        case "inprocess":
            inprocess = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
        case "approved":
            approved = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;

    }

}

<div class="card shadow border-0 mt-4 mb-3">
    <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
        <div class="row px-4">
            <div class="col-12 text-center">
                <h5 class="pt-2 text-white">
                    Order List
                </h5>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="d-flex pb-5 pt-2 justify-content-end">
                <div class="list-group list-group-horizontal">
                    <a asp-controller="Order" asp-action="Index" asp-route-status="inprocess" class="list-group-item list-group-item-action @inprocess">In Process</a>
                    <a asp-controller="Order" asp-action="Index" asp-route-status="pending" class="list-group-item list-group-item-action @pending">Payment Pending</a>
                    <a asp-controller="Order" asp-action="Index" asp-route-status="completed" class="list-group-item list-group-item-action @completed">Completed</a>
                    <a asp-controller="Order" asp-action="Index" asp-route-status="approved" class="list-group-item list-group-item-action @approved">Approved</a>
                    <a asp-controller="Order" asp-action="Index" asp-route-status="all" class="list-group-item list-group-item-action @all">All</a>
                </div>
                </div>
                <table id="tblData" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}
