@model Product


<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="row p-2">
        <div class="col-12 p-1">
            <div class="card border-0 p-3 shadow border-top border-5 rounded">
                <img src="@Model.ImageUrl" class="card-img-top rou" alt="product">
                <div class="card-body pb-2">
                    <div>
                        <h5 class="card-title text-dark opacity-75 text-center">@Model.Title</h5>
                        <p class="card-title text-warning text-center">
                            by <span class="fw-bold">
                                @Model.Author
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="text-dark text-opacity-75 text-center mb-0">
                            List Price: <span class="text-decoration-line-through real-price">
                                @Model.ListPrice?.ToString("c")
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="text-dark text-opacity-75 text-center">
                            As low as: <span class="discount-price">
                                @Model.Price100?.ToString("c")
                            </span>
                        </p>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-productId="@Model.Id" class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>